outline.md
/*/slides.css
/*/slides.md
/portfolio-demo
/*/portfolio-demo/node_modules
/*/portfolio-demo/package-lock.json
/*/node_modules
/*/package-lock.json
/*/.vscode
/*/export
myreadme.md
.DS_Store
